/* Default styles */
html {
    font-family: Trebuchet, sans-serif;
  }
  
  body {
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: 1rem;
    line-height: 1.5;
    background-color: #c69fec;
    font-size: 1.15rem;
  }
  
  * {
    box-sizing: border-box;
  }
  
  h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
    background: linear-gradient(45deg,#c928c8 20%,#2a28c9 35%,#7a28c9 50%,#2a28c9,#c928c8);
    background-size: 200% auto;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
  }

  img {
    border-radius: 16px;
    max-width: 100%;
  }

  .image-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Nav styles */
  .hamburger {
    padding-right: 20px;
    cursor: pointer;
  }
  
  .hamburger .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: #9fecc6;
  }

  .nav-links {
    width: 100%;
    top: 5rem;
    left: 48px;
    display: none;
    margin: 0;
  }
  
  .nav-links a {
    display: block;
    color: #271f2f;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .nav-links a:hover, a:focus {
    background-color: #9e7fbc;
    color: #271f2f;
  }
  
  .expanded {
    display: unset;
  }

  .footnotes h2 {
    font-size: 1.2rem;
  }

  .footnotes {
    font-size: 1rem;
  }
  
  @media screen and (min-width: 636px) {
    .nav-links {
      display: flex;
      justify-content: space-evenly;
      position: static;
      width: auto;
      background: none;
    }
  
    .nav-links a {
      display: inline-block;
      padding: 15px 20px;
    }

    .hamburger {
        display: none;
      }
  
  }