/* Default styles */
html {
    background-image: linear-gradient(to right, #e92efb, #ff2079, #440bd4, #04005e 20%, #04005e 80%, #440bd4, #ff2079, #e92efb);
    font-family: Trebuchet, sans-serif;
  }
  
  body {
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: 1rem;
    line-height: 1.5;
    background-color: #04005e;
    color: white;
  }
  
  * {
    box-sizing: border-box;
    color: white;
  }
  
  h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
  }

  /* Nav styles */
  .hamburger {
    padding-right: 20px;
    cursor: pointer;
  }
  
  .hamburger .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: #e92efb;
  }

  .nav-links {
    width: 100%;
    top: 5rem;
    left: 48px;
    background-color: #440BD4;
    display: none;
    margin: 0;
  }
  
  .nav-links a {
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
  }
  
  .nav-links a:hover, a:focus {
    background-color: #440BD4;
  }
  
  .expanded {
    display: unset;
  }
  
  @media screen and (min-width: 636px) {
    .nav-links {
      margin-left: 5em;
      display: block;
      position: static;
      width: auto;
      background: none;
    }
  
    .nav-links a {
      display: inline-block;
      padding: 15px 20px;
    }

    .hamburger {
        display: none;
      }
  
  }