---
  import BaseLayout from '../../layouts/BaseLayout.astro';

  const allPosts = await Astro.glob('../posts/*.md');
  const uniqueTags = [...new Set(allPosts.map(post => post.frontmatter.tags).flat())]
  const pageTitle = 'Tag index'
---

<BaseLayout pageTitle={pageTitle}>
  <div class="tags">
    {uniqueTags.map((tag) => <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>)}
  </div>
</BaseLayout>
<style>
  a {
    width: 100%;
    height: 100%;
    margin: 0.25em;
    border-radius: 32px;
    padding: .5em 1em;
    font-size: 1.15em;
    color: #04005e;
    text-decoration: none;
    background-color: #A05FE0;
  }

  a:hover,
  a:focus {
    background-color: #9fecc6;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }
</style>