---
import '../styles/global.css';
import Header from '../components/Header.astro';
const pageTitle = "About";
const font = "Tahoma, sans-serif";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
        <style define:vars={{font}}>
            body {
                font-family: var(--font);
            }
            h1 {
              color: purple;
              font-size: 4rem;
            }
          </style>
	</head>
	<body>
        <Header />
		<h1>About</h1>
        <p>My name is Jillian and I hate writing bios and always spend way too much time trying to sound cool and interesting!</p>
        <p>So instead of thinking about that right now (I'm using my hack time from work to rebuild my blog, so content shouldn't really be my first priority...) I'll just give a crappy short version of a bio and maybe come back to it later.</p>
        <p>(Or not)</p>
        <p>So, about me, then. I'm a software engineer for work and a friend, partner, daugter, sister, etc. outside of it. My hobbies include but are not limited to working out, bouldering, reading, singing, dancing, cross-stitching, swimming, painting, and (need it even be said?) spending time with my people.</p>
        <p>I'm 30 at the time of writing (still not sure how that's possible). I'm originally from the Minnesota (USA) but live in Berlin. Ich spreche Deutsch y hablo español también.</p>
        <p>I'm a person who has Big Feelings and doesn't mind sharing and being vulnerable. Generally though, I don't take myself very seriously.</p>
	</body>
</html>
