---
  import BaseLayout from '../layouts/BaseLayout.astro';
  const pageTitle = "About";
---

<BaseLayout pageTitle={pageTitle}>
  <p>My name is Jillian and I hate writing bios and always spend way too much time trying to sound cool and interesting!
  </p>
  <p>So instead of thinking about that right now (I'm using my hack time from work to rebuild my blog, so content
    shouldn't really be my first priority...) I'll just give a crappy short version of a bio and maybe come back to it
    later.</p>
  <p>(Or not)</p>
  <p>So, about me, then. I'm a software engineer for work and a friend, partner, daughter, sister, teammate, etc.
    outside of it.
    My
    hobbies include but are not limited to working out, bouldering, reading, singing, dancing, cross-stitching,
    swimming, painting, and (need it even be said?) spending time with my people.</p>
  <p>I'm 30 at the time of writing (still not sure how that's possible). I'm originally from the Minnesota (USA) but
    live in Berlin. Ich spreche Deutsch y hablo español también.</p>
  <p>I'm a person who has Big Feelings and doesn't mind sharing and being vulnerable. Generally though, I don't take
    myself very seriously.</p>
  <p>Anyway, here's a picture of me in case you somehow wound up on this page without knowing who I am. Yes, I take
    mirror selfies and I'm 30.</p>
  <div class="image-container">
    <img src="/jillianatwork.jpeg" height="300" alt="A mirror selfie of Jillian in a pink top and black skirt" />
  </div>
  <script>
    import "../scripts/menu.ts"
  </script>
</BaseLayout>